{% extends "layout.html" %}
{% block title %}To-Do App{% endblock %}

{% block content %}
<div class="jumbotron">
  <h1 class="display-4">To-Do App</h1>
  <p class="lead">Just another to-do app.</p>
</div>

<div>
  <form action="{{url_for('add')}}" method="POST">
    <input type="text" name="newItem">
    <input type="submit" value="Add">
  </form>
</div>
<hr>
<div class="row">
  <div class="col-md-12">
    <h2>To-do list</h2>
  </div>
  <div class="col-md-12">
    <table style="width:350pt">
      {% for item in items %}
      <tr>
        <td>{{ item.title }}</td>
        <td>{{ item.status }}</td>
      </tr>
      {% endfor %}
    </table>
  </div>
</div>
{% endblock %}